<div class="timeline-container">
    <div class="timeline-controls">
        <button id="play-button" class="timeline-button">
            <span class="play-icon">▶</span>
        </button>
        <div class="timeline-slider-container">
            <input type="range" id="timeline-slider" min="0" max="100" value="0" class="timeline-slider">
            <div class="timeline-labels">
                <span>2001</span>
                <span>2015</span>
            </div>
        </div>
        <div class="speed-controls">
            <button class="speed-button" data-speed="100">10x</button>
            <button class="speed-button" data-speed="20">50x</button>
            <button class="speed-button active" data-speed="10">100x</button>
            <div class="custom-speed-container">
                <input type="number" id="custom-speed" min="1" max="10000" value="100" class="custom-speed-input">
                <span>x</span>
            </div>
        </div>
    </div>
</div> 